/* Quiz.module.css */

/* Contêiner geral para o quiz */
.quiz {
    padding: 30px;
    text-align: center;
  }
  
  /* Estilos para o contêiner das opções */
  .options {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
  }
  
  /* Estilo para os botões das opções */
  .optionButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    width: 100%;
    max-width: 300px; /* Para limitar o tamanho máximo do botão */
  }
  
  .optionButton:hover {
    background-color: #0056b3;
  }
