/* General container styling for the quiz page */
.quiz {
    padding: 30px; /* Add padding around the quiz content */
    text-align: center; /* Center-align the text inside the container */
  }
  
  /* Styling for the container of the quiz options */
  .options {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
  }
  
  /* Styling for the option buttons */
  .optionButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007BFF; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.1s ease; 
    width: 100%; 
    max-width: 300px;
  }
  
  /* Hover effect for the option buttons */
  .optionButton:hover {
    background-color: #0056b3; 
  }
  